$primary: #000000;
$text-color: #b1b379;
$rose: #ebbcba;
$status-bar-color: #3a3a3a;
$status-bar-title-color: #91886e;
$status-bar-block-color: #949494;
$status-bar-text-color: #fcc69f;

@font-face {
	font-family: "JetBrains Mono";
	src: url("./assets/fonts/JetBrainsMono-Regular.ttf");
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url("./assets/fonts/JetBrainsMono-Bold.ttf");
	font-weight: bold;
	font-display: swap;
}

html, body, #app {
    height: 100%;
}

body {
	margin: 0;
	font-family: "JetBrains Mono";
	min-width: 320px;
	min-height: 100vh;
	color: white;
	background-color: $primary;

	// for webkit based browsers
	::-webkit-scrollbar {
		display: none;
	}
}

* {
	box-sizing: border-box;
	font-family: "JetBrains Mono";
}

#app {
	height: 100%;
}

.main-container {
	display: flex;
	flex-direction: column;
	height: 100%;

	.router {
		height: 95%;
		overflow-y: scroll;
		scrollbar-width: none;
	}
	.controller {
		height: 5%;
		display: flex;
		flex-direction: column;
		.status-bar {
			width: 100%;
			background-color: $status-bar-color;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.status-text {
				font-weight: bold;
				width: fit-content;
				background-color: $status-bar-block-color;
				color: $status-bar-text-color;
				padding: 0.05em 0.5em;
			}
			.status-title {
				flex-grow: 1;
				display: flex;
				justify-content: space-between;

				* {
					font-size: 0.95em;
					padding: 0.05em 0.5em;
					color: $status-bar-title-color;
				}
			}
		}

		.command-line {
			width: 100%;
			color: $text-color;
			background-color: transparent;
			flex-grow: 1;
			* {
				margin: 0;
			}

			input[type="text"] {
				background-color: $primary;
				height: 100%;
				outline: none;
				border: none;
				width: 100%;
				color: $text-color;
				font-size: 1em;
			}
		}
	}
}

.content-container {
	div {
		white-space: initial;
		word-break: break-all;

		* {
			font-size: 1em;
			display: inline;
			padding: 0;
			margin: 0;
		}
	}

	// in order to make the text centered,
	// the content needs to be wrapped in a div
	div.centered-text {
		display: flex;
		justify-content: center;

		span.line-number {
			display: block;
			flex-grow: 0;
			flex-basis: 20.4px;
			width: 20.4px;
		}

		div {
			display: flex;
			flex-grow: 1;
			justify-content: center;

			* {
				width: fit-content;
			}
		}
	}

	img {
		max-height: 100%;
	}
}

span.line-number {
	color: $status-bar-color;
	margin: 0 0.4em;
	white-space: pre-wrap !important;
	width: 20.4px !important;
}

.text-center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.biography {
	word-spacing: 0.1px;
}

.my-fucking-name {
	color: #f3a654;
}

.rose {
	color: $rose;
}

// modify typer writer's font color
.title-writer {
	span.typed {
		font-weight: bold;
		color: white !important;
		margin: 0 0 !important;
	}
}

.links {
	color: $text-color;
	text-decoration: none;
	font-weight: bold;
	text-decoration: underline;
}

.pointer {
	cursor: pointer;
}
