$primary: #000000;
$text-color: #abad6e;

$status-bar-color: #3a3a3a;
$status-bar-title-color: #91886e;
$status-bar-block-color: #949494;
$status-bar-text-color: #fcc69f;

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/JetBrainsMono-Bold.ttf");
  font-weight: bold;
}

body {
  margin: 0;
  font-family: "JetBrains Mono";
  min-width: 320px;
  min-height: 100vh;
  color: white;
  background-color: $primary;

  // for webkit based browsers
  ::-webkit-scrollbar {
    display: none;
  }
}

#app {
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .router {
    flex-basis: 95%;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .status-bar {
    width: 100%;
    background-color: $status-bar-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .status-text {
      font-size: 0.95em;
      width: fit-content;
      background-color: $status-bar-block-color;
      color: $status-bar-text-color;
      padding: 0.05em 0.5em;
    }
    .status-title {
      font-size: 0.95em;
      flex-grow: 1;
      padding: 0.05em 0.5em;
      color: $status-bar-title-color;
    }
  }

  .command-line {
    width: 100%;
    color: $text-color;

    * {
      margin: 0;
    }
  }
}

.content-line {
  div {
    white-space: initial;
    word-break: break-all;
    span.line-number {
      color: $status-bar-color;
      margin: 0 0.4em;
      white-space: pre-wrap !important;
      //flex-grow: 0;
    }

    * {
      font-size: 1em;
      display: inline;
      padding: 0;
      margin: 0;
    }
  }
}

.text-center {
  text-align: center;
}
.underline {
  text-decoration: underline;
}

// modify typer writer's font color
.title-writer {
  span.typed {
    font-weight: bold;
    color: white !important;
    margin: 0 0 !important;
  }
}
